
body{
    font-family: monaco,Consolas,Lucida Console,monospace;
}
.cursor-pointer{
    cursor: pointer !important;
}

.form-control {
    display: block;
    width: 95%;
    padding: .4375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4285714;
    color: #f1ebeb;
    background-color: rgb(247, 247, 247);
    background-clip: padding-box;
    border: 1px solid #dadcde;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-select {
    display: block;
    width: 100%;
    padding: .4375rem 2.25rem .4375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4285714;
    color: #1f1f1f;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dadcde' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #dadcde;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}


.btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.4285714;
    color: #a73636;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 10px solid transparent;
    padding: .4375rem 1rem;
    font-size: .875rem;
    border-radius: 3px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: white;
    background-color: #cdd6d5;
}

.icon-tabler{
    margin-bottom: -5px !important;
    color: #111312;
}

/* HEADER */
.logoImg{
    width: 30vh;
}
.logo{
    margin-bottom: 20px;
}
.logomain{
    width: 20vh;
}
.element_header{
    text-align: center;
    margin: 5px;
    width: 10%;
    height: 5vh;
    padding-top: 10px;
    margin-bottom: 30px;
}
.menu{
    float: left;
    border-radius: 5px;
    border: 2px solid rgb(146, 56, 56);
}
.selected{
    background-color: #050505;
    border: 2px solid black;
    font-weight: bold;
}
.menu:hover{
    background-color: #139956;
    color: white;
}
.infouser{
    float: right;
    border: 2px solid white;
    background-color: #1f1f1f;
    color: white;
    border-radius: 5px;
}

#inicio{
    border: 10px solid #f1eeee;
    clear: both;
    height: 80vh;
    background-image: url("img/lobo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inicio:before{
    opacity: 0.3;
}


/* SECCION 1 */
#seccion_1{
    clear: both;
    height: 1.5vh;
    margin-top: 15px;
}

.text_seccion1_izq{
    float: left;
    text-align: left;
    margin: 2px;
    width: 49%;
    height: 10vh;
}

.seccion1_izq{
    float: left;
    text-align: justify;
    margin-top: 10px;
    margin-left:30px;
    width: 30%;
    height: 30vh;
    font-family: monaco,Consolas,Lucida Console,monospace;
}
.seccion1_der{
    float: right;
    border: 2px solid black;
    text-align: center;
    margin: 2px;
    width: 49%;
    height: 20vh;
}

/* SECCION 2 */
#seccion_2{
    clear: both;
    height: 21.5vh;
    margin-top: 15px;
    margin-bottom: 25px;
}
.element_seccion2{
    margin: 4px;
    width: 24.5%;
    height: 10vh;
}
.seccion2_izq{
    float: left;
    text-align: justify;
    margin-top: 1px;
    margin-left: 30px;
    width: 20%;
    height: 10vh;
    font-family: monaco,Consolas,Lucida Console,monospace;
}

.seccion2_med{
    float: left;
    text-align: justify;
    margin-top: 10px;
    margin-left:30px;
    width: 40%;
    height: 10vh;
    font-family: monaco,Consolas,Lucida Console,monospace;
}
.seccion2_der{
    float: right;
}

/* footer */
#footer{
    clear: both;
    margin-top: 15px;
}

.footer_izq{
    float: left;
    text-align: justify;
    margin-top: 10px;
    width: 30%;
    height: 25vh;
    color: #fff;
    background-color: #1f1f1f;
}
.footer_der{
    float: right;
    text-align: justify;
    margin-top: 10px;
    width: 49%;
    height: 10vh;
    font-family: monaco,Consolas,Lucida Console,monospace;
}

.enlace {
    display:inline;
    border:0;
    padding:0;
    margin:0;
    text-decoration:underline;
    background:none;
    color:#000088;
    font-family: monaco,Consolas,Lucida Console,monospace;
    font-size: 1em;
    line-height:1em;
}
.enlace:hover {
    text-decoration:none;
    color:#0000cc;
    cursor:pointer;
}
p{
    color:black;
    border-bottom:solid 2px red;
    width:100px;
    display: inline-block;
}
#pesos{
border-bottom:solid 2px red;
background:rgb(214, 25, 25);
box-shadow:none;
border:none;
border-bottom:solid 2px red;
}
#pesos:hover, #pesos:focus{
    border:none;
        border-bottom:solid 2px red;
}

.selector-for-some-widget {
    box-sizing: content-box;
} 


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin:0px;
    padding:0px;
}




.header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header ul li ul{
    display: flex;
    flex-direction: column;
}

ul {
    list-style:none;
}



ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    display: block;
}

ul li a:hover{
    background-color: #3f3a3580;
}

ul li ul li {
    display: none;
}

ul li ul li a{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

ul li:hover ul li{
    display: block;
}





.container{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 10vh;


}

.slider{
    position:relative;
    width: 100%;
    height: 400px;
}

.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 1s;

}

.slider li img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.central{
    width: 60%;
    margin: auto;
    background-color: transparent;
}

.slider li:first-child{
    opacity: 1;
}
.boton{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.slider li:target{
    opacity: 1;


}


html, body {
    margin: 0;
    background-color: #77cc6d;
    font-family: 'Raleway Dots', sans-serif;
  }
  
  section #services {
    text-align: center;
    transform: translatez(0);
  }
  section #services h2 {
    margin: 80px 0px 40px;
    color: #fff;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
  }
  section #services li {
    width: 120px;
    height: 140px;
    display: inline-block;
    margin: 20px;
    list-style: none;
  }
  section #services li div {
    width: 120px;
    height: 120px;
    color: #74d4b3;
    font-size: 3.4em;
    text-align: center;
    line-height: 120px;
    background-color: #fff;
    transition: all 0.5s ease;
  }
  section #services li a {
    color: #77cc6d;
  }
  section #services li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
  }
  section #services li span {
    width: 120px;
    height: 20px;
    display: block;
    padding: 15px 0px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
  }
  .credits a {
    display: block;
    text-align: center;
    color: #74d4b3;
    text-decoration: none;
    font-size: 24px;
    margin-top: 50px;
    background: white;
    padding: 20px;
    max-width: 300px;
  }